﻿@using AgroMarket.ViewModels;
@model CustomerDashBoard;

@{
    ViewData["Title"] = " DashBoard";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<h2>Customer DashBoard</h2>
<form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
